/* 侧边导航栏样式 */
.sidenav {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 70px;
    left: 0;
    position: fixed;
    width: 200px; /* 调整导航栏的宽度 */
    height: 100%;
    background-color: #508bd3;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
  
.sidenav a:hover {
    color: #4F30EB;
}

.container {
    display: flex;
  }

.profile {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 100px;
  }
  
.nickname {
    font-size: 25px;
    font-weight: bold;
}

.idnum{
    font-size: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.edit-button {
    position: absolute;
    top: 180px;
    right: 400px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
  }
  
.edit-button:hover {
    background-color: #ccc;
}

.personal-table{
    margin-top: 20px;
    margin-left: 180px;
}

.personal-info1{
    padding: 5px 10px;
    font-size: 20px;
}

.personal-info{
    font-size: 18px;
}

