/* 侧边导航栏样式 */
.sidenav {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 70px;
    left: 0;
    position: fixed;
    width: 200px; /* 调整导航栏的宽度 */
    height: 100%;
    background-color: #4b4b4b;
    overflow-x: hidden;
    padding-top: 10px;
    color: #fff;
  }

  .sidenav .avatar{
    width: 160px;
    height: 160px;
    margin: 2em auto;
    background: #fff;
    border-radius: 100%;
    border: #fff 5px solid;
    transition: transform 0.5s;
}
.sidenav .avatar:hover{
    transform: rotate(1turn);
}
.sidenav .avatar img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}
/* -- 侧边栏导航 */
.sidenav .nav{
    margin: 0;
    display: flex;
    list-style: none;
    flex-direction: column;
}
.sidenav .nav a{
    color: #fff;
    padding: 1em;
    display: block;
    text-align: center;
    transition: background .3s, box-shadow .3s;
}
.sidenav .nav a:hover{
    background: rgba(0, 0, 0, .2);
}

.content{
    margin-left: 250px;
    margin-top: 100px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .wrap{
    margin-left:auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 1.25em;
    box-sizing: content-box;
}

.h2{
    color: #4F30EB;
}
  
.nickname {
    font-size: 25px;
    font-weight: bold;
}

.idnum{
    font-size: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.edit-button {
    position: absolute;
    top: 180px;
    right: 400px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
  }
  
.edit-button:hover {
    background-color: #ccc;
}

.personal-table{
    margin-top: 20px;
    margin-left: 10px;
}

.personal-info1{
    padding: 5px 10px;
    font-size: 20px;
}

.personal-info{
    font-size: 18px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.25em;
    margin-right: -1.25em;
}

.row .col-l-4{
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:20px;
    margin-top:5px;
}

.intro1{
    margin-bottom: 10px;
    font-size: 20px;
}

.introtitle{
    background: linear-gradient(to right, rgb(255, 0, 76), rgba(111, 0, 255, 0.794) 50%, rgb(255, 255, 255) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
}

.introtitle:hover{
    background-position: 0 100%;
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

.imgcontainer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 320px; /* 调整容器的高度 */
    background-image: url("../img/competition/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.subBtn{
    position: absolute;
    top:110px;
    right:500px;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.subBtn:hover {
    background-color: #ccc;
}

.editImg{
    position: absolute;
    top:190px;
    left:160px;
    padding: 12px 12px;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    background-image: url("../img/editImgBtn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.editImg:hover {
    background-image: url("../img/editImgBtn1.png");
}/* 侧边导航栏样式 */
.sidenav {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 70px;
    left: 0;
    position: fixed;
    width: 200px; /* 调整导航栏的宽度 */
    height: 100%;
    background-color: #4b4b4b;
    overflow-x: hidden;
    padding-top: 10px;
    color: #fff;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
  
.sidenav a:hover {
    color: #4F30EB;
}

.container {
    display: flex;
  }

.profile {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 100px;
  }
  
.nickname {
    font-size: 25px;
    font-weight: bold;
}

.idnum{
    font-size: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.edit-button {
    position: absolute;
    top: 180px;
    left:100px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
  }
  
.edit-button:hover {
    background-color: #ccc;
}

.personal-table{
    margin-top: 20px;
    margin-left: 180px;
}

.personal-info1{
    padding: 5px 10px;
    font-size: 20px;
}

.personal-info{
    font-size: 18px;
}

.changBtn{
    position: absolute;
    left:100px;
}

.background-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background-image: url("../img/competition/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
