{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>竞赛组队</title>
  <meta content="竞赛组队" name="keywords">
  <meta name="Description" content="浏览，发布竞赛组队信息。让你的竞赛不再孤单">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style2.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <a href="/index"></a>
        <span id="easter_egg3" class="text-light" style="font-size: 2rem;"><a href="/index">竞赛组队</a></span>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/index">欢迎 Home</a></li> 
          <li><a href="/home">竞赛项目</a></li>
          <li><a href="#team">讨论区</a></li>
          <li><a href="#faq">Q&A</a></li>
          <li><a href="/personal">个人主页</a></li>
          <li><a href="/login">登陆login/登出logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container" data-aos="fade-in">
      <h1>欢迎来到 <text id="easter_egg1">竞赛</text>组队网</h1>
      <h2 id="easter_egg2">一个为交大学生打造的竞赛组队交流平台</h2>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-xl-4 col-lg-5" data-aos="fade-up">
            <div class="content">
              <h3>在这里...</h3>
              <p>
                你能找到志同道合的小伙伴<br>
              </p>
              <div class="text-center">
                <a href="/login" class="more-btn">创建账号/登陆<i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-7 d-flex">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>发布竞赛</h4>
                    <p>只需提供<b>竞赛信息，联系方式</b>便可快速组队</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>匹配通知</h4>
                    <p>如果有小伙伴想要加入你的队伍，会有<b>浏览器通知</b>和<b>邮件提醒</b></p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-gift"></i>
                    <h4>讨论区</h4>
                    <p>一个人太无聊了？不用担心，你可以在讨论区和<b>其他小伙伴</b>进行讨论</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->
  
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'js/main2.js' %}"></script>

  <script>
    $(document).ready(function() {
      var token = '';
      $("#createTeam").click(function() {
        $.ajax({
          headers: {"token": token},
          url: '',
          type: 'get',
          data: JSON.stringify({
            "token": token,
          }),
          contentType: "application/json", 
          success: function(response) {
            if (response === 0) {
              window.location.href("/login")
            } else {

            }
          },
          error: function(error) {
            alert(JSON.parse(error));
          }
        })
      })
    })
  </script>

</body>

</html>