{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人主页</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/personal2.css' %}">
</head>

<body>
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/index">竞赛组队网站</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="nav-link scrollto " href="/index">欢迎 Home</a></li>
          <li><a class="nav-link scrollto" href="/blog">竞赛大厅</a></li>
          <li><a class="nav-link scrollto" href="/blog">讨论区</a></li>
          <li><a class="nav-link scrollto " href="/Q&A">Q & A</a></li>
          <li><a class="nav-link scrollto" href="/personal">个人主页</a></li>
          <li><a href="/login">登陆login/登出logout</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!--表单提交,update_profile修改为实际的视图函数-->
  <form action="/personal/add/" method="post">
    {% csrf_token %}
    <div class="container">
      <!--数据库交互-->
      <!-- 侧边导航栏 -->
      <aside class="sidenav">
        <!--获取头像-->
        <div class="avatar">
          {% if request.user.profile %}
            <img src="{{ user.profile.url }}" alt="头像" />
          {% else %}
          <!--修改为实际默认头像的路径-->
          <img src="{% static 'path/avatar.png' %}" alt="默认头像" />
          {% endif %}
        </div>
        <input type="file" id="uploadInput" accept="image/*" style="display: none;" />
        <!--从本地上传图片-->
        <button id="changeBtn" class="editImg" name="profile"></button>
        <nav class="nav">
          <a href="/personal">个人资料</a>
          <a href="/team_created">创建的队伍</a>
          <a href="/team_join">加入的队伍</a>
          <a href="/team_apply">申请的队伍</a>
        </nav>
      </aside>
    </div>
      <!-- 内容区 -->
      <div class="content">
        <div class="wrap">
          <h2 class="introtitle">个人资料</h2>
          <div class="row">
            <div class="col-l-4">
              <table class="personal-table">
                <tr>
                  <td class="personal-info1">
                    昵称：</td>
                  <td class="personal-info">
                    <input type="text" name="user_name" value="{{user.user_name}}"></td>
                </tr>
                <tr>
                  <td class="personal-info1">
                    年级：</td>
                  <td class="personal-info">
                    <input type="text" name="grade" value="{{user.grade}}"></td>
                </tr>
                <tr>
                  <td class="personal-info1">
                    邮箱：</td>
                  <td class="personal-info">
                    <input type="text" name="email" value="{{user.email}}"></td>
                </tr>
              </table>
            </div>
            <div class="col-l-4">
              <table class="personal-table">
                <tr>
                  <td class="personal-info1">
                    ID：</td>
                  <td class="personal-info">
                    <input type="text" name="user_id" value="{{user.user_id}}"></td>
                </tr>
                <tr>
                  <td class="personal-info1">
                    专业：</td>
                  <td class="personal-info">
                    <input type="text" name="major" value="{{user.major}}"></td>
                </tr>
              </table>
            </div>
            <div class="intro">
              <div class="intro1">
                  个人简介：
              </div>
              <div class="personal-info">
                <textarea name="bio" rows="3" cols="71" placeholder="在这里填写个人简介">{{user.bio}}</textarea>
              </div>
            </div>
      </div>
      <button type="submit" class="subBtn">保存更改</button>
    <div class="imgcontainer"></div>
    </div>
    </div>
  </form>
    <script>
      document.getElementById("changeBtn").addEventListener("click", function() {
        document.getElementById("uploadInput").click();
      });
  
      document.getElementById("uploadInput").addEventListener("change", function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          var imageSrc = e.target.result;
          document.querySelector(".avatar img").src = imageSrc;
        };
        reader.readAsDataURL(file);
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
    <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'js/main2.js' %}"></script>
</body>

</html>
