
    body
    {
    width:100%;
    height:1500px;
    padding:10px;
    margin:0 auto;
    }
    table
    {
    border:none;
    width:100%;
    height:300px;
    padding:5px;
    }
    .border
    {
    border:15px dotted LightCyan;
    }
    .margin
    {
    margin:20px 200px auto;
    }
    .center
    {
    text-align:center;
    }
    .color
    {
    background-color:MediumTurquoise;
    color:black;
    }
    .large_size
    {
    font-size:large
    }
    .font_family
    {
    font-family:STKaiti
    }
    .size1
    {
    width:350px;
    height:10px;
    }
    .size2
    {
    height:100px;
    }
    .style1
    {
    border:none;
    width:10%;
    height:1300px;
    float:left;
    }
     .style2
    {
    border:none;
    width:10%;
    height:1300px;
    float:right;
    }
    .hidden
    {
    overflow:hidden;
    }
