{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>1kM</title>
  <meta content="竞赛组队" name="keywords">
  <!-- 网站logo<link rel="icon" href="assets/img/controller_icon.png" type="image/x-icon" /> -->
  <meta name="Description" content="浏览，发布竞赛组队信息。让你的竞赛不再孤单">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flexor
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">竞赛组队网站</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="{% static '' %}img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="nav-link scrollto " href="/index">欢迎 Home</a></li>
          <li><a class="nav-link scrollto" href="/blog">竞赛大厅</a></li>
          <li><a class="nav-link scrollto" href="/blog">讨论区</a></li>
          <li><a class="nav-link scrollto " href="Q&A.html">Q & A</a></li>
          <li><a class="nav-link scrollto" href="/personal">个人主页</a></li>
          <li><a href="login.html">登陆login/登出logout</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="/index">主页</a></li>
          <li><a href="/blog">科创信息一览</a></li>
        </ol>
        <h2>科创信息一览</h2>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <!-- == 容器 == -->
      <div class="container" data-aos="fade-up">

        <div class="row">

          <!-- 栏目一：竞赛列表 -->
          <div class="col-lg-8 entries">
            <!-- 竞赛一 -->
            <article class="entry">
              <!-- ===== 标题 ===== -->
              <h2 class="entry-title">
                <a href="/blog-single/1/">“挑战杯” 全国大学生课外学术科技作品竞赛</a>
              </h2>

              <!-- <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="/blog-single">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="/blog-single"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="/blog-single">12 Comments</a></li>
                </ul>
              </div> -->

              <div class="entry-content">
                <p>
                  <!-- ===== 正文描述 ===== -->
                  “挑战杯” 系列竞赛被誉为中国大学生学术科技 “奥林匹克” ，是国内大学生最关注最热门的全国性竞赛，也是全国最具代表性、权威性、示范性、导向性的大学生竞赛。
                  该竞赛每两年举办一次，旨在鼓励大学生勇于创新、迎接挑战的精神，培养跨世纪创新人才。
                </p>
                <!-- ===== 超链接 ===== -->
                <div class="read-more">
                  <a href="/blog-single/1/">了解更多</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            
            <!-- 测试与数据库交互功能 -->
            {% for obj in competition %}
            <article class="entry">
              <!-- ===== 标题 ===== -->
              <h2 class="entry-title">
                <a href="/blog-single/{{ obj.id }}/">{{ obj.name }}</a>
              </h2>

              <div class="entry-content">
                <p>
                  <!-- ===== 正文描述 ===== -->
                  {{ obj.intro }}
                </p>
                <!-- ===== 超链接 ===== -->
                <div class="read-more">
                  <a href="/blog-single/{{ obj.id }}/">了解更多</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}

            <!-- ===== 分页，但是好像是静态的，没有实现，研究一下怎么实现 ===== -->
            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div>

          </div><!-- End blog entries list -->


          <!-- ===== 注意，下面这一部分窗口是可以浮动的 ===== -->
          <!-- 栏目二：搜索栏 -->
          <div class="col-lg-4">

            <div class="sidebar">
              <!-- ===== 搜索栏 ===== -->
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <!-- ===== 类别标签 ===== -->
              <h3 class="sidebar-title">类别</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">科研项目 <span>(25)</span></a></li>
                  <li><a href="#">技能竞赛 <span>(12)</span></a></li>
                  <li><a href="#">科创竞赛 <span>(5)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->
              
              <!-- 模态 -->
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#myModal">
                新建竞赛
              </button>

              <!-- 模态 -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- 模态标题 -->
                    <div class="modal-header">
                      <h4 class="modal-title">新建竞赛</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- 模态主体 -->
                    <div class="modal-body">

                    <!-- 一个表单 -->
                    <!-- 
                      修改 urls.py 和 views.py
                    -->
                    <form role="form" method="post" action="/blog/">
                      
                      <!-- 输入名称 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="name">
                            <p>项目名称</p>
                            <p></p>
                          </label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">
                        </div>
                        <p id="name-check"></p>
                      </div>
                      
                      <!-- 来源网站 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="url">
                            <p>来源网站</p>
                            <p></p>
                          </label>
                          <input type="text" class="form-control" id="url" name="url" placeholder="请输入url">
                        </div>
                        <p id="url-check"></p>
                      </div>

                      <!-- 上传图片 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="inputfile">竞赛图片</label>
                          <input type="file" id="inputfile" name="inputfile">
                          <!-- <p class="help-block">这里是块级帮助文本的实例。</p> -->
                        </div>
                        <p id="photo-check"></p>
                      </div>

                      <!-- 参赛人数 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="numb">
                            <p>参赛人数</p>
                            <p></p>
                          </label>
                          <input id="number" type="number" value="1" class="form-control"  name="number" placeholder="请输入参赛人数">
                          <p id="check-numb"></p>
                        </div>
                      </div>

                      <!-- 勾选什么东西 -->
                      <!--
                        <div class="container">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox">请打勾
                            </label>
                          </div>
                        <p id="？？？？"></p>
                        </div>
                      -->
                      
                      <!-- 单选框 -->
                      <!-- 以 value 值存入数据库，1代表科研项目，2代表技能竞赛，3代表科创竞赛-->
                      <div class="container">
                        <label for="type">
                          <p>竞赛类别</p>
                          <p></p>    
                        </label>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="radio1" name="category" value="1" checked>科研项目
                          <label class="form-check-label" for="radio1"></label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="radio2" name="category" value="2">技能竞赛
                          <label class="form-check-label" for="radio2"></label>
                        </div>
                        <div class="form-check">
                          <input type="radio" class="form-check-input" id="radio3" name="category" value="3">科创竞赛
                          <label class="form-check-label"></label>
                        </div>
                        <p id="option-check"></p>
                      </div>

                      <div class="container">
                        <div class="form-group">
                          <label for="start_regi">
                            <p>报名开始时间</p> 
                            <p></p>
                          </label>
                          <input type="date" value="2023-10-15" class="form-control" id="start_regi" name="start_regi" placeholder="报名开始时间">
                        </div>
                        <p id="content-check"></p>
                      </div>

                      <!-- 报名截止时间 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="end_regi">
                            <p>报名截止时间</p> 
                            <p></p>
                          </label>
                          <input type="date" value="2023-10-15" class="form-control" id="end_regi" name="end_regi" placeholder="报名截止时间">
                        </div>
                        <p id="content-check"></p>
                      </div>

                      <!-- 项目开始时间 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="start_compt">
                            <p>项目开始时间</p> 
                            <p></p>
                          </label>
                          <input type="date" value="2023-10-15" class="form-control" id="start_compt" name="start_compt" placeholder="项目开始时间">
                        </div>
                        <p id="content-check"></p>
                      </div>

                      <!-- 输入简介 -->
                      <div class="container">
                        <div class="form-group">
                          <label for="intro">
                            <p>项目简介</p>
                            <p></p>
                          </label>
                          <input type="text" class="form-control" id="intro" name="intro" placeholder="请输入项目介绍">
                        </div>
                        <p id="content-check"></p>
                      </div>
                      
                      <button type="button" class="btn btn-light" onclick="myFunction()">提交</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                    
                    </form>

                  </div>
                </div>
              </div>

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->


        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <!-- second part : icons -->
    <div id="footer_icon_container">
      <div class="homepage_footer_icons mail_white_icon" onclick="window.open('mailto:yum001@ucsd.edu')">
        <div id="homepage_footer_widget_mail" class="homepage_footer_widgets">
        </div>
      </div>
      <div class="homepage_footer_icons github_black_icon" onclick="window.open ('https://github.com/YueqianMa/Unicode_Hackathon')">
        <div id="homepage_footer_widget_github" class="homepage_footer_widgets">
        </div>
      </div>

      <div class="homepage_footer_icons green_icon" onmouseover="showImg('wechat')" onmouseout="hideImg('wechat')">
        <div id="homepage_footer_widget_wechat" class="homepage_footer_widgets">
          <img id="wechat" src="/assets/img/icons/wechatQR3.jpg" style="opacity: 1; z-index: 1;">
          <!-- 这个图片没有插入成功 -->
        </div>
      </div>

      <div class="homepage_footer_icons facebook_blue_icon" onclick="window.open ('https://www.facebook.com')">
        <div id="homepage_footer_widget_facebook" class="homepage_footer_widgets">
        </div>
      </div>  

      <div class="homepage_footer_icons ins_pink_icon" onclick="window.open('https://www.instagram.com')">
        <div id="homepage_footer_widget_instagram" class="homepage_footer_widgets">
        </div>
      </div>
    </div>



      <div class="mr-lg-auto text-center text-lg-left"  style="text-align: center;">
        <div class="copyright" align="center">
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> <strong>1kM</strong> All rights reserved.
        </div>
        <div style="opacity: 0.3;" align="center">
            This template is made with by <a href="https://bootstrapmade.com/" target="_blank" class="text-primary">BootstrapMade</a>
        </div>
        <p> </p>
      </div>




  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- 表单输入检查 -->
  <script>
    function myFunction() {
      // 获取 id = "numb" 的输入字段的值
      let x = document.getElementById("numb").value;
      // 如果 x 不是数字或小于 1 或大于 10
      let text;
      if (isNaN(x) || x < 1 || x > 10) {
        text = "输入无效";
      } else {
        text = "输入没问题";
      }
      document.getElementById("demo").innerHTML = text;

  }
  </script>

  <!-- 用cookie传递参数 (当前竞赛的id值) -->
  <script>

    function SetCookie(cookieName,cookieValue,nDays) {
        /*当前日期*/
        var today = new Date();
        /*Cookie过期时间*/
        var expire = new Date();
        /*如果未设置nDays参数或者nDays为0，取默认值1*/
        if(nDays == null || nDays == 0) {
                nDays = 1;
            }
            /*计算Cookie过期时间*/
            expire.setTime(today.getTime() + 3600000 * 24 * nDays);
            /*设置Cookie值*/
            document.cookie = cookieName + "=" + escape(cookieValue) + ";expires=" + expire.toGMTString();
    }

    function sends( id ){
    
        SetCookie("id", id ,1);
    
        document.location = "blog-single.html";
    }
  </script>

  <script>
    import React from 'react';
    import dayjs from 'dayjs';
    import customParseFormat from 'dayjs/plugin/customParseFormat';
    import { TimePicker } from 'antd';
      dayjs.extend(customParseFormat);
      const onChange = (time, timeString) => {
      console.log(time, timeString);
      };
      const App = () => (
        <TimePicker onChange={onChange} defaultOpenValue={dayjs('00:00:00', 'HH:mm:ss')} />
      );
      export default App;

      createRoot(document.getElementById('container')).render(<Demo />);
  </script>

</body>

</html>